
:root {
  --primary-color: #357b70;
  --secondary-color: #997379;
  --background-color: #f2f2f2;
  --default-button-color: #b2868e;
  --secondary-button-color: #e5acb6;
  --button-text-color: #ffffff;
  --table-color: #2f2f2f;
  --font-weight: 700;

}

body {background-image: url("../img/pattern.jpeg")
}

body {
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;

}

* {
  box-sizing: border-box;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}


.logo {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 40px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.profile {
  max-width: 700px;
  max-height: auto;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--background-color);
  filter: drop-shadow(5px 5px 4px #808080);
}

.aboutme {
  max-width: 700px;
  max-height: auto;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  background-color: var(--background-color);
  filter: drop-shadow(5px 5px 4px #808080);
}

.contactme {
  max-width: 700px;
  max-height: auto;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--background-color);
  filter: drop-shadow(5px 5px 4px #808080);
}


table{
  display: inline-block;
  text-align: center;
  border-style: dotted;
  background-color: var(--table-color);

}


.page-footer {
  clear: both;
  display: flex-inline;
  flex-direction: column;
  max-width: 700px;
  max-height: auto;
  margin: 0 auto;
  padding: 1px;
  background-color: var(--background-color);
  text-align: center;
  filter: drop-shadow(5px 5px 4px darkgray);
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;

}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: var(--primary-color);
  text-decoration: none;

}


a:hover, a:focus {
  text-decoration: none;
  filter: drop-shadow(5px 5px 4px #8c8c8c);
  color: var(--secondary-color);
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 0.9s;
  transition-property: opacity;
}

a:active {
  color: #489c79;
}

.my-link {
	color: black;
}

#my-link {
	color: #a95070;
}

button, .button {
	border: none;
  display: inline-block;
	background-color: var(--default-button-color);
	color: var(--button-text-color);
	text-decoration: none;
	font-size: 16px;
	font-family: inherit;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.9s;
  transition-property: opacity;

}

button:hover, button:focus,
.button:hover, button:focus {
  cursor: pointer;
  opacity: 0.5;

}

span {
  background-color: #357b70;
  color: white;
}

.button__secondary {
  background-color: var(--secondary-button-color);
  color: var(--button-text-color);
}

nav {
    display: block;
    max-width: 100%;
    border-bottom: solid;
    border-color: lightgrey;
}

.navigation-list li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
  border-bottom: 5px;
}

.navigation-list__item {
  text-decoration: none;
}

.navigation-list__item--active {
  text-decoration: underline;
}

.grid {
  display: grid;
  max-width: 2000px;
  max-height: auto;
  margin: 0 auto;
  padding: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: var(--background-color);
  padding: 10px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  filter: drop-shadow(5px 5px 4px #808080);
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

#hobbies{
  text-align: left;
}

#hobbieslistheading{
  text-align: left;
}

.hobbieslist2 {
  text-align: left;
}


#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}
@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}


@keyframes color-change {
  0% {
    fill: #cce5e5;
  }
  50% {
    fill: #7fbfbf;
  }
  100% {
    fill: #008080;
  }
}

.sun{
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

}

@keyframes cloud-scale {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(2, 2);
  }
}

.cloud-back {
  animation-duration: 10s;
  animation-name: cloud-scale;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}


@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

